{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
<div class="w3-container">
  <h1>Profile</h1>
  <div class="w3-container w3-card-4 w3-light-grey">
    <h2>{{ user.username }} </h2>
    <p>Followers: {{ user.oinkerprofile.followed_by.count }} </p>
    <p>Follows: {{ user.oinkerprofile.follows.count }} </p>
    {% if user != request.user %}
      {% if request.user.oinkerprofile in user.oinkerprofile.followed_by.all %}
        <a href="{% url 'unfollow_oinker' user.username %}" class="w3-button w3-red w3-margin">Unfollow</a>
      {% else %}
        <a href="{% url 'follow_oinker' user.username %}" class="w3-button w3-green w3-margin">Follow</a>
      {% endif %}
    {% endif %}
  </div>

  <div>
    <ul class="w3-ul w3-card-4">
      {% for oink in user.oinks.all %}
         <li class="w3-bar">
          <div class="w3-bar-item">
            <span class="w3-large">{{ oink.created_by.username }}</span><br>
            <span >{{ oink.body }}</span><br>
            <span class="w3-small w3-text-grey">{{ oink.created_at|naturaltime }}</span>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}