{% extends 'core/base.html' %}

{% block content %}

<div class="w3-container w3-white w3-margin w3-padding-large">

    {% if form.errors %}
        {% for error_tag, error_message  in form.errors.items %}
            {% if error_tag == "__all__" %}
                <div class="w3-panel w3-red">
                    <p>{{ error_message }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    {% if next %}
    {% if user.is_authentiated %}
    <div class="w3-panel w3-red">
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
    </div>
    {% else %}
    <div class="w3-panel w3-yellow">
        <p>Please login to this page.</p>
    </div>
    {% endif %}
    {% endif %}

    <div class="w3-container w3-card-4 w3-light-grey">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group w3-border-0">
                <h2>Log In</h2>
                <ul class="w3-ul">
                    <li>
                        <label for="username">{{ form.username.label_tag }}</label>
                        {% if form.username.errors %}<div class="w3-panel w3-red">{{ form.username.errors }}</div>
                        {% endif %}
                        <input class="w3-input" type="text" id="username" name="username">
                    </li>
                    <li>
                        {{ form.password.errors }}
                        <label for="password">{{ form.password.label_tag }}</label>
                        {% if form.password.errors %}<div class="w3-panel w3-red">{{ form.password.errors }}</div>
                        {% endif %}
                        <input class="w3-input" type="password" id="password" name="password">
                    </li>
                    <li>
                        <button class="w3-button w3-dark-grey" type="submit">Login</button>
                    </li>
                </ul>

                <div class="w3-small">
                    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                </div>
            </fieldset>


        </form>
    </div>

</div>

{% endblock content %}