{% extends 'core/base.html' %}

{% block content %}
    <div class="w3-container w3-white w3-margin w3-padding-large">
        <form method="post">
            {% csrf_token %}
            {% if form.email.errors %}
                <div class="w3-panel w3-red">
                    {{ form.email.errors }}
                </div>
            {% endif %}

        <div class="w3-container w3-card-4 w3-light-grey">
            <fieldset class="form-group w3-border-0">
                <h2>Reset Password</h2>
                <ul class="w3-ul">
                    <li>
                        <label for="email">{{ form.email.label_tag }}</label>
                        <input class="w3-input" type="email" id="email" name="email">
                    </li>
                    <li class="w3-button">
                        <button type="submit">Request Password Reset</button>
                    </li>
                </ul>
            </fieldset>
        </div>
        
        </form>
    </div>

{% endblock content %}
