{% extends 'core/base.html' %}

{% block content %}

    <div class="w3-container w3-white w3-margin w3-padding-large">

        {% if validlink  %}

            <div class="w3-panel w3-red">
                {% if form.new_password1.errors %}
                        <p>{{ form.new_password1.errors }}</p>    
                {% endif %}
                {% if form.new_password2.errors %}
                    <p>{{ form.new_password2.errors }}</p>
                {% endif %}
            </div>



            <div class="w3-container w3-card-4 w3-light-grey">
                
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group w3-border-0">
                    <h2>Please enter (and confirm) your new password.</h2>
                    <ul class="w3-ul">
                        <li>
                            <label for="new_password1">{{ form.new_password1.label_tag }}</label>
                            <input class="w3-input" type="password" id="new_password1" name="new_password1">
                        </li>
                        <li>
                            <label for="new_password2">{{ form.new_password2.label_tag }}</label>
                            <input class="w3-input" type="password" id="new_password2" name="new_password2">
                        </li>
                        <li class="w3-button">
                            <button type="submit">Reset Password</button>
                        </li>
                    </ul>

                    </fieldset>

                </form>
            </div>
        
        {% else %}
            <div class="w3-panel w3-red">
                <h2>Password reset failed</h2>
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            </div>
        {% endif %}

    </div>

{% endblock content %}